<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <%= image_tag "brand/bootstrap-logo.svg", alt: "Logo", width: 30, height: 24, class: "d-inline-block align-text-top" %>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/home" class="nav-link px-2 link-secondary">首页</a></li>
      <li><a href="/courses" class="nav-link px-2">课程</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2">登录</button>
      <button type="button" class="btn btn-primary">注册</button>
    </div>
  </header>
</div>
